.nav-ul li{
  display: inline-block;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .nav-ul li a{ 

    color: white;
    padding: 5px;
    text-decoration: none;
    }

.nav-ul {
  padding: 5px;
  margin: 0%;
  background-color: skyblue;
}
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;

}
.register{
  margin-left: 30%;
}


.inputBox {
  display: block;
  margin: 30px ;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}
.appbutton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}


